 h3{
 	color: #47B8E0;
 }

 .global_div.global_div.global_div.global_div.global_div.global_div{
 	margin-top: 200px;
 }

 .color.color.color.color.color{

 	color: #47B8E0;

 }

 .ui inverted blue button{

 }

 html html html html html{

 	background-color: #34314C;
 }

 #affichage #affichage #affichage #affichage #affichage{
 	font-size: 1500px;
 	color:blue;
 } 

 #body #body #body #body #body #body #body #body{

 	width:100%;
 	height: 100%;
 	background-color: red;
 }